<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  {% include sidebar.html %}

  <main role="main">
    <div class="content">
      {{content}}
    </div>
  </main>

{% include analytics.html %}
</body>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBHUVXMLQfqglf7qCImXVLi9OAlKWDNTYY",
    authDomain: "hoya-0.firebaseapp.com",
    databaseURL: "https://hoya-0.firebaseio.com",
    projectId: "hoya-0",
    storageBucket: "hoya-0.appspot.com",
    messagingSenderId: "151250967094"
  };
  firebase.initializeApp(config);
</script>
</html>
